# Mengaktifkan mesin rewrite URL
RewriteEngine On

# Menentukan direktori dasar (root) dari aplikasi Anda
RewriteBase /

# Mengabaikan file yang benar-benar ada di server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Mengarahkan semua permintaan lain ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]